@import url('https://fonts.googleapis.com/css2?family=Baloo+2:wght@700&family=Caveat:wght@700&family=Dosis:wght@500&family=Fuzzy+Bubbles&family=Raleway+Dots&family=Signika:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Baloo+2:wght@700&family=Caveat:wght@700&family=Dosis:wght@500&family=Fuzzy+Bubbles&family=Raleway+Dots&family=Signika:wght@600&display=swap');
*{
    padding: 0;
    margin: 0;
box-sizing: border-box;

}
body{
    max-width: 100%;
    overflow-x: hidden;
}

.wrapper{
    width: 100%;
    height: 100vh;

}
.navbarsec
{
    width: 100%;
    height:120px;
    display: flex;
    align-items: center;
    background-color: #f2f9f4;

}
.wrapperbg{
    width: 100%;
    height:80%;
    background-color: #f2f9f4;
    display: flex;
}
.navbar{
    width: 90%;
    height:40%;
    background-color: #ddede8;
    display: flex;
    justify-content: flex-end;
}
.logosec{
    width: 10%;
    height: 100%;
    display: flex;
justify-content: flex-end;
align-items: center;}
.logoimg{
    width: 70%;
    height: 100%;
    background-color: #90d8c6;
    display: flex;
justify-content: center;
align-items: center;

}
#dsideimg{
position: absolute;
width:550px;
height: 550px;

left: 1250px;
top: 420px;


}
.navlist{
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.navlist li{
    list-style: none;
font-weight: bolder;
color: #444d4d;font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.leftwrap{
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.leftwrap .imgsec{
    width: 90%;
    height: 90%;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.leftwrap .imgsec img{
    width: 90%;
    height: 100%;
    -webkit-animation-name: spin;
    -webkit-animation-duration: 8000ms;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-timing-function: linear;

    -moz-animation-name: spin;
    -moz-animation-duration: 8000ms;
    -moz-animation-iteration-count: infinite;
    -moz-animation-timing-function: linear;

    -ms-animation-name: spin;
    -ms-animation-duration: 8000ms;
    -ms-animation-iteration-count: infinite;
    -ms-animation-timing-function: linear;

    animation-name: spin;
    animation-duration: 8000ms;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    animation-play-state: paused;
}
.leftwrap .imgsec img:hover{
    animation-play-state: running;
}

@-ms-keyframes spin { 
    from { 
        -ms-transform: rotate(0deg); 
    } to { 
        -ms-transform: rotate(360deg); 
    }
}
@-moz-keyframes spin { 
    from { 
        -moz-transform: rotate(0deg); 
    } to { 
        -moz-transform: rotate(360deg); 
    }
}
@-webkit-keyframes spin { 
    from { 
        -webkit-transform: rotate(0deg); 
    } to { 
        -webkit-transform: rotate(360deg); 
    }
}
@keyframes spin { 
    from { 
        transform: rotate(0deg); 
    } to { 
        transform: rotate(360deg); 
    }
}



#imggirl1{
    width: 300px;
    height: 300px;
    position: absolute;
    border-radius: 100%;
    border: 7px solid #90d8c6;
}
.imgsec:hover{
  transform: rotate(360deg);
}


.rightwrap{
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.textcontainer{
    width: 100%;
    height:45%;
  
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items:center;
}
.textcontainer h1{
    font-size: 90px;
    color: #4F9A94;
    font-family: 'Baloo 2', cursive;

    font-family: 'Caveat', cursive;

    font-family: 'Dosis', sans-serif;

    font-family: 'Fuzzy Bubbles', cursive;

    font-family: 'Raleway Dots', cursive;

    font-family: 'Signika', sans-serif;
}
.textcontainer p{
    padding: 20px;
    font-size: 15px;
    text-align:center;
    width: 80%;
    color: #4F9A94;
    font-family: 'Baloo 2', cursive;

    font-family: 'Caveat', cursive;

    font-family: 'Dosis', sans-serif;

    font-family: 'Fuzzy Bubbles', cursive;

    font-family: 'Raleway Dots', cursive;

    font-family: 'Signika', sans-serif;
}

.textcontainer  button{
    width: 120px;
    height: 30px;
    border-radius: 12px;
    background-color: #4F9A94;
    font-family: 'Baloo 2', cursive;
color:rgb(255, 255, 255);
    font-family: 'Caveat', cursive;

    font-family: 'Dosis', sans-serif;

    font-family: 'Fuzzy Bubbles', cursive;

    font-family: 'Raleway Dots', cursive;

    font-family: 'Signika', sans-serif;
}

.section2{
    width: 100%;
    height: 100vh;
    background-color: #4F9A94;


}
.headersec{
    width: 100%;
    height: 30%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
 
}
.contentsec{
    width: 100%;
    height: 70%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.texth1{
    font-size: 70px;
    color: #ffffff;
    font-family: 'Baloo 2', cursive;

    font-family: 'Caveat', cursive;

    font-family: 'Dosis', sans-serif;

    font-family: 'Fuzzy Bubbles', cursive;

    font-family: 'Raleway Dots', cursive;

    font-family: 'Signika', sans-serif;
}
.texth1small{
    font-size: 30px;
    color: #ffffff;
    font-family: 'Baloo 2', cursive;

    font-family: 'Caveat', cursive;

    font-family: 'Dosis', sans-serif;

    font-family: 'Fuzzy Bubbles', cursive;

    font-family: 'Raleway Dots', cursive;

    font-family: 'Signika', sans-serif;
}

.textp{
    padding: 20px;
    font-size: 15px;
    text-align:center;
    width: 60%;
    color: #ffffff;
    font-family: 'Baloo 2', cursive;

    font-family: 'Caveat', cursive;

    font-family: 'Dosis', sans-serif;

    font-family: 'Fuzzy Bubbles', cursive;

    font-family: 'Raleway Dots', cursive;

    font-family: 'Signika', sans-serif;
}

.cardsec{
    width: 400px;
    height:100%;
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
    
}
.cardsec .imgsec{
    width: 100%;
    height: 70%;
   position: relative;
   display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
 
}
.cardsec .textsec
{
    width: 100%;
    height: 30%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.dcardimg{
    width: 100%;
    height: 100%;
    position: absolute;
  
}
.gcardimg{
    width: 250px;
    height: 250px;
    position: absolute;
  border-radius: 100%;

 
}

.section3{
    width: 100%;
    height: 100vh;
    /* background-image: url(/images/bg2.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 0.45; */
    position: relative;
   
}
.section3::before {    
    content: "";
    background-image: url(/images/bg2.png);
    background-size: cover;
    position: absolute;
    background-position: center;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    opacity: 0.35;
}


 .headersec{
    width: 100%;
    height: 30%;
    display: flex;
    position: relative;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.text-blue-color{
    color: #4F9A94;
}

.cardcircle{
    width: 300px;
    height: 300px;
    position: absolute;
  border-radius: 100%;
  border: 4px solid #4F9A94;
  display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  
}

.section4{
    width: 100%;
    height:100vh;
display: flex;


}
.leftsec{
    width: 50%;
    height:100vh;
    background-color: #4F9A94;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.textsec4{
  
        width: 80%;
        height:80%;
    
        background-color: #4F9A94;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
   
}

.rightsec{
    width: 50%;
    height:100vh;
    background-image: url(/images/yogagirl3.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.text-p-width{
   padding: 0;
    font-size: 15px;
    text-align:left;
    width: 100%;
    color: #ffffff;
    font-weight: 100;
}
.text-h1-width{
    font-size: 70px;
    color: #ffffff;
}

.readbtn {
    margin-top: 30px;
    width: 200px;
    height: 40px;
    color: #4F9A94;
    font-family: 'Baloo 2', cursive;

    font-family: 'Caveat', cursive;

    font-family: 'Dosis', sans-serif;

    font-family: 'Fuzzy Bubbles', cursive;

    font-family: 'Raleway Dots', cursive;

    font-family: 'Signika', sans-serif;
}
.readbtn2 {
background-color: #4F9A94;
color:#ffffff;

}

.section5{
    width: 100%;
    height:100vh;
display: flex;
flex-direction: row-reverse;
position: relative;
}
.section5 .rightsec{
    width: 50%;
    height:100vh;
    background-image: url(/images/girl2.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 80% 90%;
}




.section5 .leftsec{
    width: 50%;
    height:100vh;
background-color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.section5 .leftsec::before {    
    content: "";
    width: 100%;
    height: 100%;
    background-image: url(/images/design1.png);
    background-size: 60% 90%;
    position: absolute;
    background-repeat: no-repeat;
    background-position:center;
    top: 50px;
    right: 0px;
    bottom: 0px;
    left: 800px;
    z-index: 9;
    opacity: 0.85;
}



.section5 .textsec4{
  
        width: 80%;
        height:80%;
    
        background-color: transparent;
        
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
   
}
.section5  .text-p-width{
    padding: 0;
     font-size: 15px;
     text-align:left;
     width: 100%;
     color: #4F9A94;
     font-weight: 100;
     z-index: 99;
 }
 .section5  .text-h1-width{
     font-size: 70px;
     color: #4F9A94;
     z-index: 99;
 }
 
 .section6{
    width: 100%;
    height: 100vh;
    /* background-image: url(/images/bg2.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 0.45; */
    position: relative;
    background-color: #4F9A94;
 }

.pricecard{
    width:80% ;
    height: 80%;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 6px;

}
.name-price-sec{
    width: 100%;
    height: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
 
    flex-direction: column;
}
.price-img-sec{
    width: 100%;
    height: 40%;
    display: flex;
    justify-content: center;
    align-items: center;

}
.btn-p-sec{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
   
    width: 100%;
    height: 30%;
}
.pricecard .textp{
width: 100%;
}
.regiterbtn{
    
    width: 80%;
    height: 40px;
    background-color: #4F9A94;
    color:#ffffff;
    font-family: 'Baloo 2', cursive;

    font-family: 'Caveat', cursive;

    font-family: 'Dosis', sans-serif;

    font-family: 'Fuzzy Bubbles', cursive;

    font-family: 'Raleway Dots', cursive;

    font-family: 'Signika', sans-serif;
    border-radius: 4px;
}

.section7{
    width: 100%;
    height: 100vh;
    /* background-image: url(/images/bg2.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 0.45; */
    z-index: 7;
    position: relative;
   
}
.section7::before {    
    content: "";
    background-image: url(/images/bg2.png);
    background-size: cover;
    position: absolute;
    background-position: center;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    opacity: 0.35;
    z-index: 7;
}


.topsec{
width:100%;
height: 50%;
display: flex;
justify-content: center;
align-items: center;
}
.topsec .imgsec{
    width: 300px;
    height: 300px;

    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}
.topsec .imgsec .dcardimg{
width: 100%;
height: 100%;


}
.topsec .imgsec  .gcardimg{
    width: 70%;
    height: 70%;
    z-index: 99;
}
.downsec{
    width:100%;
    height: 50%;
    display: flex;
    flex-direction: column;
 
    align-items: center;
    text-align: center;
   position: relative;
    }

    .fontslim{
        font-family: 'Baloo 2', cursive;

        font-family: 'Caveat', cursive;
    
        font-family: 'Dosis', sans-serif;
    
        font-family: 'Fuzzy Bubbles', cursive;
    
        font-family: 'Raleway Dots', cursive;
    
        font-family: 'Signika', sans-serif;
        font-size: 40px;
        width: 90%;
        z-index: 99;
    
    }

.tname{
    margin-top: 100px;
    z-index: 99;
}

.searchbarsec{
    width: 100%;
    height: 80vh;
    background-color: #4c9c88;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.textbox{
    margin-top: 50px;
    width: 60%;
    background-color: #ffffff;
    height: 50px;
    border-radius: 100px;
    display: flex;
  
    justify-content: center;
    align-items: center;
}
#searchbox{
width: 80%;

border-top-left-radius: 100px;
border-bottom-left-radius: 100px;
height: 100%;
border: none;
}
#subbtn{
    width: 30%;
    height: 100%;
    background-color: #95cdbf;
    border-radius: 100px;
}
#searchbox::-webkit-input-placeholder { /* Chrome/Opera/Safari */
    color: #95cdbf;
    font-size: 20px;
    padding-left: 10px;
  }
  #searchbox::-moz-placeholder { /* Firefox 19+ */
    color: #95cdbf;
    font-size: 20px;
    padding-left: 10px;
  }
  #searchbox:-ms-input-placeholder { /* IE 10+ */
    color: #95cdbf;
    font-size: 20px;
    padding-left: 10px;
  }
  #searchbox:-moz-placeholder { /* Firefox 18- */
    color: #95cdbf;
    font-size: 20px;
    padding-left: 10px;
    
  }


  .section8{
    width: 100%;
    height: 60vh;
    /* background-image: url(/images/bg2.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 0.45; */
    z-index: 7;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
   
}
.footersec1{
height: 100%;
width: 40%;

display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
}
.footersec2{
    height: 100%;
    width: 20%;
   
    display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
    }
    .textfosec{
        
        width:80%;
        height: 50%;
    }
    .footersec1  .textp{
        text-align: left;
width: 100%;
    }
    .footersec1   .texth1small{
        padding-left: 20px;
    }
    .footerlist{
        list-style: none;
        width: 100%;
        height: 50%;
       
        display: flex;
flex-direction: column;
justify-content: space-between;
align-items: flex-start;
text-align: left;
    }
    .footerlist li{
       
        font-size: 15px;
        text-align:center;
        
        color: #4F9A94;
        font-family: 'Baloo 2', cursive;
    
        font-family: 'Caveat', cursive;
    
        font-family: 'Dosis', sans-serif;
    
        font-family: 'Fuzzy Bubbles', cursive;
    
        font-family: 'Raleway Dots', cursive;
    
        font-family: 'Signika', sans-serif;
    }
    .footerlist :first-child{
        font-size: 20px;
        color: #4F9A94;
        font-weight: 500;
        font-family: 'Baloo 2', cursive;
    
        font-family: 'Caveat', cursive;
    
        font-family: 'Dosis', sans-serif;
    
        font-family: 'Fuzzy Bubbles', cursive;
    
        font-family: 'Raleway Dots', cursive;
    
        font-family: 'Signika', sans-serif;
    }

    .footersec3{
        height: 100%;
        width: 20%;
       
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        }
        
        .footersec4{
            height: 100%;
            width: 20%;
         
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            }
            .footersec4 li{
                width: 40%;
                display: flex;
               
                align-items: center;
               
            }
            .footerlist img{
                width: 30%;
                height: 100%;
                margin-right: 10px;

            }





/******************************************************************************************************************/
/**********************************mobile responsive***************************************************************/
/*****************************************************************************************************************/


@media screen and (max-width: 800px) {


    .wrapper{
        width: 100%;
        height: 100vh;
    
    }
    .navbarsec
    {
        width: 100%;
        height:120px;
        display: flex;
        align-items: center;
        background-color: #f2f9f4;
    
    }
    .wrapperbg{
        width: 100%;
        height:80%;
        background-color: #f2f9f4;
        display: flex;
        flex-direction: column;
    }
    .navbar{
        width: 90%;
        height:40%;
        background-color: #ddede8;
        display: flex;
        justify-content: flex-end;
    }
    .logosec{
        width: 30%;
        height: 60%;
        display: flex;
    justify-content: flex-end;
    align-items: center;}
    .logoimg{
        width: 70%;
        height: 100%;
        background-color: #90d8c6;
        display: flex;
    justify-content: center;
    align-items: center;
    
    }
    .logoimg img{
        width: 80%;
        height: 80%;
    }
    .navlist{
        
        width: 50%;
        height: 100%;
        display: flex;
        justify-content: space-around;
        align-items: center;
        display: none;
    }
    .navlist li{
        list-style: none;
    font-weight: bolder;
    color: #444d4d;font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    }
    .leftwrap{
        width: 100%;
        height: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .leftwrap .imgsec{
        width: 90%;
        height: 90%;
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        
    }
    .leftwrap .imgsec img{
        width: 90%;
        height: 100%;
    }
    #imggirl1{
        width: 200px;
        height:200px;
        position: absolute;
        border-radius: 100%;
        border: 7px solid #90d8c6;
    }
    .imgsec:hover{
      transform: rotate(360deg);
    }
    
    
    .rightwrap{
        width: 100%;
        height: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    .textcontainer{
        width: 100%;
        height:45%;
      
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items:center;
    }
    .textcontainer h1{
        font-size: 60px;
        color: #68a898;
        font-family: 'Baloo 2', cursive;
    
        font-family: 'Caveat', cursive;
    
        font-family: 'Dosis', sans-serif;
    
        font-family: 'Fuzzy Bubbles', cursive;
    
        font-family: 'Raleway Dots', cursive;
    
        font-family: 'Signika', sans-serif;
    }
    .textcontainer p{
        padding: 20px;
        font-size: 15px;
        text-align:center;
        width: 80%;
        color: #90d8c6;
        font-family: 'Baloo 2', cursive;
    
        font-family: 'Caveat', cursive;
    
        font-family: 'Dosis', sans-serif;
    
        font-family: 'Fuzzy Bubbles', cursive;
    
        font-family: 'Raleway Dots', cursive;
    
        font-family: 'Signika', sans-serif;
    }
    
    .textcontainer  button{
        width: 120px;
        height: 30px;
        border-radius: 12px;
        background-color: #68a898;
        font-family: 'Baloo 2', cursive;
    color:wheat;
        font-family: 'Caveat', cursive;
    
        font-family: 'Dosis', sans-serif;
    
        font-family: 'Fuzzy Bubbles', cursive;
    
        font-family: 'Raleway Dots', cursive;
    
        font-family: 'Signika', sans-serif;
    }





    .section2{
        width: 100%;
        height: 150vh;
        background-color: #4F9A94;
    
    
    }
    .headersec{
        width: 100%;
        height: 20%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
     
    }
    .contentsec{
        width: 100%;
        height: 80%;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
    }
    .texth1{
        font-size: 40px;
        color: #ffffff;
        font-family: 'Baloo 2', cursive;
    
        font-family: 'Caveat', cursive;
    
        font-family: 'Dosis', sans-serif;
    
        font-family: 'Fuzzy Bubbles', cursive;
    
        font-family: 'Raleway Dots', cursive;
    
        font-family: 'Signika', sans-serif;
    }
    .texth1small{
        
        font-size: 30px;
        color: #ffffff;
        font-family: 'Baloo 2', cursive;
    
        font-family: 'Caveat', cursive;
    
        font-family: 'Dosis', sans-serif;
    
        font-family: 'Fuzzy Bubbles', cursive;
    
        font-family: 'Raleway Dots', cursive;
    
        font-family: 'Signika', sans-serif;
    }
    
    .textp{
        padding: 20px;
        font-size: 15px;
        text-align:center;
        width: 90%;
        color: #ffffff;
        font-family: 'Baloo 2', cursive;
    
        font-family: 'Caveat', cursive;
    
        font-family: 'Dosis', sans-serif;
    
        font-family: 'Fuzzy Bubbles', cursive;
    
        font-family: 'Raleway Dots', cursive;
    
        font-family: 'Signika', sans-serif;
    }
    
 .cardsec{
        width:100% ;
        height:400px;
     
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
       
    }
    .cardsec .imgsec{
        width: 60%;
        height: 100%;
       position: relative;
       display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
       
    }
    .cardsec .textsec
    {
        width: 100%;
        height: 40%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .dcardimg{
        width: 100%;
        height: 100%;
        position: absolute;
      
    }
    .gcardimg{
        width: 150px;
        height: 150px;
        position: absolute;
      border-radius: 100%;
    
     
    }



    .section3{
        width: 100%;
        height: 100vh;
        /* background-image: url(/images/bg2.png);
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        opacity: 0.45; */
    
        position: relative;
       
    }
    .section3::before {    
        content: "";
        background-image: url(/images/bg2.png);
        background-size: cover;
        position: absolute;
        background-position: center;
        top: 0px;
        right: 0px;
        bottom: 0px;
        left: 0px;
        opacity: 0.35;
    }
    
    
     .headersec{
        width: 100%;
        height: 30%;
        display: flex;
        position: relative;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    
    }

    .section3 .contentsec{
        width: 100%;
        height: 70%;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
    

    }
    
    .text-blue-color{
        color: #4F9A94;
    }
    
    .cardcircle{
        width: 150px;
        height: 150px;
        position: absolute;
      border-radius: 100%;
      border: 4px solid #4F9A94;
      display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
      
    }



    .cardcircle .texth1{
        font-size: 30px;
        
 text-align: center;
    }
    .cardcircle .textp{
        font-size: 10px;
        height: 40%;
    }
    .section4{
        width: 100%;
        height:100vh;
    display: flex;
    flex-direction: column;
    
    
    }
    .leftsec{
        width: 100%;
        height:50%;
        background-color: #4F9A94;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .textsec4{
      
            width: 80%;
            height:80%;
        
            background-color: #4F9A94;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: flex-start;
       
    }

    .textsec4.texth1{
        font-size: 50px;
    }
    
    .rightsec{
        width: 100%;
        height:50%;
        background-image: url(/images/yogagirl3.png);
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }
    
    .text-p-width{
       padding: 0;
        font-size: 15px;
        text-align:left;
        width: 100%;
        color: #ffffff;
        font-weight: 100;
    }
    .text-h1-width{
        font-size: 70px;
        color: #ffffff;
    }
    
    .readbtn {
        margin-top: 30px;
        width: 200px;
        height: 40px;
        color: #4F9A94;
        font-family: 'Baloo 2', cursive;
    
        font-family: 'Caveat', cursive;
    
        font-family: 'Dosis', sans-serif;
    
        font-family: 'Fuzzy Bubbles', cursive;
    
        font-family: 'Raleway Dots', cursive;
    
        font-family: 'Signika', sans-serif;
    }
    .readbtn2 {
    background-color: #4F9A94;
    color:#ffffff;
    
    }
    
    .section5{
        width: 100%;
        height:100vh;
    display: flex;
    flex-direction: column-reverse;
    position: relative;
    }
    .section5 .rightsec{
        width: 100%;
        height:50%;
        background-image: url(/images/girl2.png);
        background-position: center;
        background-repeat: no-repeat;
        background-size: 80% 90%;
    }
    
    .section5 .textsec4 .texth1{
        font-size: 50px;
    }
    
    
    .section5 .leftsec{
        width: 100%;
        height:50%;
    background-color: #fff;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .section5 .leftsec::before {    
        content: "";
        width: 100%;
        height: 100%;
        background-image: url(/images/design1.png);
        background-size: 60% 90%;
        position: absolute;
        background-repeat: no-repeat;
        background-position:center;
        top: 50px;
        right: 0px;
        bottom: 0px;
        left: 800px;
        z-index: 9;
        opacity: 0.85;
    }
    
    
    
    .section5 .textsec4{
      
            width: 80%;
            height:80%;
        
            background-color: transparent;
            
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: flex-start;
       
    }
    .section5  .text-p-width{
        padding: 0;
         font-size: 15px;
         text-align:left;
         width: 100%;
         color: #4F9A94;
         font-weight: 100;
         z-index: 99;
     }
     .section5  .text-h1-width{
         font-size: 70px;
         color: #4F9A94;
         z-index: 99;
     }
     
     .section6{
        width: 100%;
        height: 200vh;
        /* background-image: url(/images/bg2.png);
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        opacity: 0.45; */
        position: relative;
        background-color: #4F9A94;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
     }
     .section6 .headersec{
        width: 100%;
        height: 20%;
        display: flex;
        position: relative;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    
    }



    .section6   .contentsec{
        width: 100%;
        height: 80%;
        display: flex;
        justify-content: space-around;
        align-items: center;
    }
    .pricecard{
        width:60%;
        height: 80%;
        background-color: #fff;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        border-radius: 6px;
    
    }
    .name-price-sec{
        width: 100%;
        height: 20%;
        display: flex;
        justify-content: center;
        align-items: center;
     
        flex-direction: column;
    }
    .price-img-sec{
        width: 100%;
        height: 30%;
        display: flex;
        justify-content: center;
        align-items: center;
    
    }
    .price-img-sec img{
        width: 20%;
        height: 80%;
    }
    .btn-p-sec{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
       
        width: 100%;
        height: 40%;
    }
    .pricecard .textp{
    width: 100%;
    }
    .regiterbtn{
        
        width: 80%;
        height: 40px;
        background-color: #4F9A94;
        color:#ffffff;
        font-family: 'Baloo 2', cursive;
    
        font-family: 'Caveat', cursive;
    
        font-family: 'Dosis', sans-serif;
    
        font-family: 'Fuzzy Bubbles', cursive;
    
        font-family: 'Raleway Dots', cursive;
    
        font-family: 'Signika', sans-serif;
        border-radius: 4px;
    }







}